h2 {
    text-align: center;
    color: #711B1B;
    font-family: "Times New Roman", "標楷體", Times, serif;
}

div p {
    margin: 0 auto;
    font-size: 20px;
}

div ul li {
    font-size: 18px;
}

table,
th,
td {
    border: 2px solid black;
}
