.nav .container-fluid {
    background-color: #440404;
}

.nav .container-fluid ul {
    list-style-type: none;
}

.nav .container-fluid ul li {
    float: left;
    padding: 10px;
}

h2 {
    text-align: center;
    color: #711B1B;
    font-family: "Times New Roman", "標楷體", Times, serif;
}

div p {
    margin: 0 auto;
    font-size: 20px;
}

div ul li {
    font-size: 18px;
}

table,
th,
td {
    border: 2px solid black;
}
