body {
    background-color: #CECECE;
}

.container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.poem19 {
    text-align: center;
    width: 300px;
    background: #03B0FB;
    position: relative;
    top: 10px;
    padding: 20px;
    border: 2px solid black;
    background-image: url(../images/star.gif);
    background-repeat: no-repeat;
}

.poem19 p {
    margin: 10px;
}
