.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-family: "Arial";
}

span {
    padding: 10px;
}

#cat {
    width: 200px;
    border-radius: 8px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.contint {
    text-indent: 20px;
}

.comp {
    font-weight: bold;
}
